# VOD 강의 실습

In [ ]:
name = input("이름을 입력해 쥬세요 :")

print(name + "씨 안녕")

이름을 입력해 쥬세요 :하이
하이씨 안녕

In [ ]:
food1 = int(input("내가 먹은 음식의 가격 :"))
food2 = int(input("친구가 먹은 음식의 가격 :"))

print(food1 + food2)

내가 먹은 음식의 가격 :200
친구각 먹은 음식의 가격 :300
500

In [ ]:
월세 = int(input("월세를 입력해주세요 :"))
관리비 = int(input("관리비를 입력해 주세요 :"))

print(월세 + 관리비)

월세를 입력해주세요 :500000
관리비를 입력해 주세요 :100000
600000

In [ ]:
print((월세 + 관리비) * 12)

7200000

#리스트

In [ ]:
rders = ["짜장", "짬뽕", "탕수육"]
print(orders)

['짜장', '짬뽕', '탕수육']

In [ ]:
print(orders[0])
print(orders[1])
print(orders[2])

짜장
짬뽕
탕수육

In [ ]:
number = [10, 20, 30, 40 ,50]
print(number)

[10, 20, 30, 40, 50]

In [ ]:
print(number[4])

50

##리스트 (삽입, 삭제, 제거)

In [ ]:
orders.append("냉면")

In [ ]:
print(orders)

['짜장', '짬뽕', '탕수육', '냉면']

In [ ]:
orders.insert(0, "팔보채") #인덱스, 요소 지정해줌
orders.insert(4, "유린기")

In [ ]:
print(orders)

['팔보채', '팔보채', '짜장', '짬뽕', '유린기', '탕수육', '냉면']

In [ ]:
orders.remove("팔보채") #remnove 모든 파보채 다지워
print(orders)

['짜장', '짬뽕', '유린기', '탕수육', '냉면']

In [ ]:
orders.insert(3, "양장피")
print(orders)

['짜장', '짬뽕', '유린기', '양장피', '양장피', '탕수육', '냉면']

In [ ]:
del orders[3]

In [ ]:
print(orders)

['짜장', '짬뽕', '유린기', '양장피', '탕수육', '냉면']

In [ ]:
print(len(orders))

6

## 길이 len

In [ ]:
name = "안녕하세요 코드 라이언입니다." #띄워쓰기도 하나의 문자이다.
print(len(name))

16

# 숫자로 구성된 list

In [ ]:
num = [20, 40 ,50, 10 ,30]
print(num)

[20, 40, 50, 10, 30]

In [ ]:
print(sum(num)) #리스트 내 모든 요소의 합.

150



1.   최대값과 최소값

In [ ]:
print(sum(num) / len(num)) # 전체의 합을 리스트의 길이로 나누어줌.

30.0

In [ ]:
print(max(num)) #최대값
print(min(num)) #최소값

50
10

#딕셔너리

In [ ]:
menu = {'짜장' : 4000, # 딕셔너리에서는 키와 벨류가 한쌍. 콜론으로 구분된다.
        '짬뽕' : 5000, # 각각의 데이터는 쉼표로 구분함.
        '탕수육' : 9000}
print(menu)

{'짜장': 4000, '짬뽕': 5000, '탕수육': 9000}

In [ ]:
family = {'아빠' : 45,
          '엄마' : 40,
          '나' : 33}
print(family)

{'아빠': 45, '엄마': 40, '나': 33}

In [ ]:
menu['냉면'] = 6000 #딕셔너리 추가방법.리스트 추가방법과 조금다름.
print(menu)

{'짜장': 4000, '짬뽕': 5000, '탕수육': 9000, '냉면': 6000}

In [ ]:
menu['짬뽕밥'] = 4500
print(menu)

{'짜장': 4000, '짬뽕': 5000, '탕수육': 9000, '냉면': 6000, '짬뽕밥': 4500}

In [ ]:
print(menu['짬뽕'])  #딕셔너리에서는 키값이 중요하다.
print(menu['탕수육'])

5000
9000

In [ ]:
menu['탕수육'] = 8500
print(menu)

{'짜장': 4000, '짬뽕': 5000, '탕수육': 8500, '냉면': 6000, '짬뽕밥': 4500}

In [ ]:
menu['짜장면'] = 5000
print(menu)

{'짜장': 4000, '짬뽕': 5000, '탕수육': 8500, '냉면': 6000, '짬뽕밥': 4500, '짜장면': 5000}



## 딕셔너리 삭제

In [ ]:
del menu['짜장']
print(menu)

{'짬뽕': 5000, '탕수육': 8500, '냉면': 6000, '짬뽕밥': 4500, '짜장면': 5000}

In [ ]:
del menu['탕수육']
print(menu)

{'짬뽕': 5000, '냉면': 6000, '짬뽕밥': 4500, '짜장면': 5000}

In [ ]:
menu['짬뽕'] = 8500
print(menu)

{'짬뽕': 8500, '냉면': 6000, '짬뽕밥': 4500, '짜장면': 5000}

In [ ]:
del menu['냉면']
print(menu)

{'짬뽕': 8500, '짬뽕밥': 4500, '짜장면': 5000}

#if 문

In [ ]:
myGrade = int(input("학번을 입력하세요 : "))
yourGrade = int(input("학번을 입력하세요 : "))

if myGrade == yourGrade:
  print("동기네")
else:
  print("동기 아니네")

학번을 입력하세요 : 1
학번을 입력하세요 : 2
동기 아니네

In [ ]:
a = int(input("숫자를 입력하세요 :"))
b = int(input("숫자를 한번 더 입력하세요 : "))

if a == b:
  print("하이요")
elif a > b:
  print("안녕하세요")
elif a < b:
  print("안녕?")
else:
  print("누구세요?")

숫자를 입력하세요 :10
숫자를 한번 더 입력하세요 : 20
안녕?

In [ ]:
orders = ['짜장', '짬뽕', '탕수육']

food = input('먹고싶은 메뉴를 입력하세요 : ')

if food in orders : ##어디 안에 있냐?
  print("주문할 수 있습니다.")
else :
  print("주문할 수 없습니다")

먹고싶은 메뉴를 입력하세요 : 짬뽕
주문할 수 있습니다.

## 딕셔너리 벨류값 출력

In [ ]:
menu = {'짜장' : 4000,  ##딕셔너리
        '짬뽕' : 5000, 
        '탕수육' : 9000}

food = input("먹고싶은 메뉴를 입력해주세요 : ")

if food in menu:
  print(menu[food],"주문가능") #딕셔너리 벨류값 출력.
else :
  print("주문불가")

먹고싶은 메뉴를 입력해주세요 : 짜장
4000 주문가능

#반복문(while)

In [ ]:
if 10 < 90:
  print("True")

True

In [ ]:
i = 5 #이제 while 문좀 알겠네..

while i >= 0:
  print(i)
  i = i - 1

5
4
3
2
1
0

In [ ]:
i = 0  
while i < 5 :
  print(i)
  i = i + 1

0
1
2
3
4

##Break

In [ ]:
i = 0 # 오대박... #while 문은 조건이 true냐 false냐 에따라 멈추고 반복하고함.
while True :
  print(i)
  i = i + 1

  if i == 10:
    print("if문 동작")
    break

print("반복문 종료")

0
1
2
3
4
5
6
7
8
9
if문 동작
반복문 종료

##continue

In [ ]:
i = 0 
while i < 10 :
  i = i +1

  if i % 2 == 0:
    continue
  print(i)

print("반복종료")

1
3
5
7
9
반복종료

##For

In [ ]:
for x in [10, 20, 30] :
  print("안녕하세요")

안녕하세요
안녕하세요
안녕하세요

In [ ]:
for i in range(10) :
  print("안녕하세요")

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

In [ ]:
for i in range(5) :
  print("잘가")

잘가
잘가
잘가
잘가
잘가

In [ ]:
for x in range(10, 20): #(시작, 종료)
  print(x)

10
11
12
13
14
15
16
17
18
19

In [ ]:
for x in range(5, 15, 3) :
  print(x)

5
8
11
14

In [ ]:
for x in range(1, 11, 2) :
  print(x)

1
3
5
7
9

In [ ]:
for x in range(3, 31, 3): #3부터 30까지 3의 배수를 출력하시오. for 연습좋네~
  print(x)

3
6
9
12
15
18
21
24
27
30

In [ ]:
for x in range(2, 31, 2) : #2부터 30 까지의 2의배수 출력
  print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [ ]:
result = 0 #result 값이 계속 변하네.. 이해완료!

for x in range(1, 101) : #1부터 100까지의 합
  result = result + x
print(result)

5050

In [ ]:
result = 1 #result 값이 1씩증가해서 for문안에 있는 result 로 게속 할당되네 ㅇㅋ!

for x in range(1, 11) : # 1부터 10까지의 곱
  result = result * x
print(result)

# 초기에 result 변수는 1로 설정됩니다.

# 반복문이 첫 번째 루프에서 실행되면, x의 값은 1이 되며, result 변수는 아직 1입니다. 그러므로 result * x의 결과는 1 * 1 = 1이 됩니다. 따라서, result 변수에는 1이 할당됩니다.

# 두 번째 루프에서 x의 값은 2이며, result 변수에는 이전 루프에서 할당된 값인 1이 저장되어 있습니다. 그러므로 result * x의 결과는 1 * 2 = 2가 됩니다. 따라서, result 변수에는 2가 할당됩니다.

# 세 번째 루프에서 x의 값은 3이며, result 변수에는 이전 루프에서 할당된 값인 2가 저장되어 있습니다. 그러므로 result * x의 결과는 2 * 3 = 6이 됩니다. 따라서, result 변수에는 6이 할당됩니다.

# 이와 같은 방식으로 반복문이 실행되면서, result 변수에는 1부터 10까지의 정수를 곱한 결과가 차례대로 저장됩니다. 최종적으로 반복문이 끝나면, result 변수에는 1부터 10까지의 곱인 3628800이 할당되어 있습니다.

3628800

In [ ]:
import random

구매횟수 = int(input("몇장 구매할거에요?"))

number = random.sample(range(1,46), 6)
for i in range(구매횟수):
  if i > 20:
    break
  print(number)
  
  print(f'{구매횟수} 장을 구입하였습니다.')

몇장 구매할거에요?10
[35, 43, 32, 19, 4, 1]
10 장을 구입하였습니다.
[35, 43, 32, 19, 4, 1]
10 장을 구입하였습니다.
[35, 43, 32, 19, 4, 1]
10 장을 구입하였습니다.
[35, 43, 32, 19, 4, 1]
10 장을 구입하였습니다.
[35, 43, 32, 19, 4, 1]
10 장을 구입하였습니다.
[35, 43, 32, 19, 4, 1]
10 장을 구입하였습니다.
[35, 43, 32, 19, 4, 1]
10 장을 구입하였습니다.
[35, 43, 32, 19, 4, 1]
10 장을 구입하였습니다.
[35, 43, 32, 19, 4, 1]
10 장을 구입하였습니다.
[35, 43, 32, 19, 4, 1]
10 장을 구입하였습니다.